.nav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.85;
  z-index: 100000;
  transition: 1s;
  overflow-x: hidden;
  padding-top: 60px;
}

#close {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
  font-size: 36px;
  color: #ccc;
}

#open {
  font-size: 36px;
  color: #ccc;
}
